{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'base.css' %}" rel="stylesheet">
    {% block head %}{% endblock %}
</head>
<body>
    <div id="sidebar">
        <h1>Tasks</h1>
        {% block sidebar %}{% endblock %}
    </div>
    <div id="header">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>