{% extends 'base.html' %}
{% load static %}

{% block title %}Tasks{% endblock %}

{% block sidebar %}
    <ul id="tasks-list">
        {% for task in tasks %}
            {% include 'tasks/tree_view.html' %}
        {% endfor %}
    </ul>
{% endblock %}

{% block content %}
    <form id="add-task" method="POST" action="{% url 'new_task' %}">
        {% csrf_token %}
        {{ task_form.errors }}
        {{ task_form.title }}
        {{ task_form.description }}
        {{ task_form.performers }}
        <div id="deadline">
            <label for="id_deadline">{{ task_form.deadline.label }}:</label>
            {{ task_form.deadline }}
        </div>
        <input type="submit" class="submit-btn" value="Add task">
    </form>
    <div id="task-detail-container">
        {% if task_detail %}
            {% include 'tasks/task_detail.html' %}
        {% endif %}
    </div>
    <script src="{% static 'tasks/scripts/task_detail.js' %}"></script>
{% endblock %}
