{% extends 'base.html' %}
{% load static %}
{% load tasks_tags %}

{% block title %}Tasks{% endblock %}

{% block head %}<link href="{% static 'tasks/css/home.css' %}" rel="stylesheet">{% endblock %}

{% block sidebar %}
    {% get_tasks as tasks %}
    <ul id="tasks-list">
        {% for task in tasks %}
            {% include 'tasks/tree_view.html' %}
        {% endfor %}
    </ul>
{% endblock %}

{% block content %}
    <form id="add-task" method="POST" action="{% url 'new_task' %}">
        <p>Add a task</p>
        {% csrf_token %}
        {{ task_form.errors }}
        {{ task_form.title }}
        {{ task_form.description }}
        {{ task_form.performers }}
        <div class="container">
            <span class="deadline">
                <label for="id_deadline">{{ task_form.deadline.label }}:</label>
                {{ task_form.deadline }}
            </span>
            <input type="submit" class="submit-btn" value="Add task">
        </div>
    </form>
    <div id="task-detail-container">
        {% if task_detail_form %}
            {% include 'tasks/task_detail.html' %}
        {% endif %}
    </div>
    <script src="{% static 'tasks/scripts/home.js' %}"></script>
{% endblock %}
