{% load tasks_tags %}
{% load tz %}
<h2>Task details</h2>
<form id="task-detail" method="POST" action="{% url 'task_detail' task_detail_form.instance.id %}">
    {% csrf_token %}
    {{ task_detail_form.errors }}
    {{ task_detail_form.title }}
    {{ task_detail_form.description }}
    {{ task_detail_form.performers }}
    <div class="container">
        <span class="deadline">
            <span>{{ task_detail_form.deadline.label }}:</span>
            {{ task_detail_form.deadline }}
        </span>
        {{ task_detail_form.status }}
    </div>
    <div class="container">
        <span>Planned labor intansity </span>
        <span id="id_planned_labor_intensity">{{ task_detail_form.instance.planned_labor_intensity|duration }}</span>
    </div>
    <div class="container">
        <span>Created at </span>
        <span id="id_created_at">{{ task_detail_form.instance.created_at|localtime|time_format }}</span>
    </div>
        {% if task_detail_form.instance.completed_at %}
            <div class="container">
                <span>Completed at </span>
                <span id="id_completed_at">{{ task_detail_form.instance.completed_at|localtime|time_format }}</span>
            </div>
            <div class="container">
                <span>Actual completion time </span>
                <span id="id_actual_completion_time">{{ task_detail_form.instance.actual_completion_time|duration }}</span>
            </div>
        {% endif %}
    <div class="container"><input type="submit" class="submit-btn" value="Save changes"></div>
</form>
<div class="container">
    <form id="delete-task" method="POST" action="{% url 'delete_task' task_detail_form.instance.id %}">
        {% csrf_token %}
        <input name="delete" type="submit" id="delete-task-btn" class="submit-btn" value="Delete task">
    </form>
</div>
<div id="subtasks">
    {% with task_detail_form.instance.task_set.all as subtasks %}
        {% if subtasks %}
            <h3>Subtasks</h3>
            <ul id="subtasks-list">
                {% for task in task_detail_form.instance.task_set.all %}
                    {% include 'tasks/tree_view.html' %}
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</div>
<p>Add a subtask</p>
<form id="add-subtask" method="POST" action="{% url 'new_subtask' task_detail_form.instance.id %}">
    {% csrf_token %}
    {{ subtask_form.errors }}
    {{ subtask_form.title }}
    {{ subtask_form.description }}
    {{ subtask_form.performers }}
    <div class="container">
        <span class="deadline">
            <span>{{ subtask_form.deadline.label }}:</span>
            {{ subtask_form.deadline }}
        </span>
        <input type="submit" class="submit-btn" value="Add subtask">
    </div>
</form>