<form id="task-detail" method="POST" action="{% url 'task_detail' task_detail.form.instance.id %}">
    {% csrf_token %}
    {{ task_detail.form.title }}
    {{ task_detail.form.description }}
    {{ task_detail.form.performers }}
    {{ task_detail.form.deadline }}
    <div id="id_created_at">{{ task_detail.created_at }}</div>
    <input type="submit" class="submit-btn" value="Save">
</form>
<div id="subtasks">
    <h1>Subtasks</h1>
    <ul id="subtasks-list">
        {% for task in task_detail.form.instance.task_set.all %}
            {% include 'tasks/tree_view.html' %}
        {% endfor %}
    </ul>
</div>
<form id="add-subtask" method="POST" action="{% url 'new_subtask' task_detail.form.instance.id %}">
    {% csrf_token %}
    {{ subtask_form.errors }}
    {{ subtask_form.title }}
    {{ subtask_form.description }}
    {{ subtask_form.performers }}
    <div id="deadline">
        <label for="id_deadline">{{ subtask_form.deadline.label }}:</label>
        {{ subtask_form.deadline }}
    </div>
    <input type="submit" class="submit-btn" value="Add subtask">
</form>