body {
  font-family: "Lato", sans-serif;
  background-color: #f3f2f1;
}

#sidebar {
  height: 100%;
  width: 350px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden; /* Disable horizontal scroll */
}

#sidebar h1 {
    font-size: 48px;
    margin: auto;
    text-align: center;
}

#content {
  margin-left: 350px; /* Same as the width of the sidebar */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

input, select {
    font-size: 18px;
    padding: 6px;
    border-radius: 6px;
    border: 1px solid #ccc;
    transition: border-color ease-in-out .15s;
}

input:focus {
    border-color: #6f42c1;
    outline: 0;
}

select:hover {
    background-color: #ccc;
}

.container {
    display: inline-block;
    width: 70%;
    padding: 2px 12px;
    font-size: 18px;
}

h3, h2, p {
    font-size: 36px;
    margin: 0;
    padding: 6px;
}

h3 {
    font-size: 28px;
}

p {
    font-size: 24px;
}

textarea {
    resize: none;
}
